*.obj
*.o
*.d
*.lib
*.a
*.elf
*.err
*.hex
*.exe
*.EXE
*.map
*.dep
*.pdf
*.PDF
*.Hbp
*.nav
*.tps
*.tws
*.tmp
*.log
*.chm
*.zip
*.pdb
*.ncb
*.suo
*.chw
*.sfr
*.user
*.avrsuo
*.Debug
*.Release
lint*.txt
*.Miro
*.bak
*.qlc
JLink*.*
*.ko*
*.mod*
*.cmd
*.symvers
*.order
*.mk
*.lst
*.so*
.DS_*

Debug/*
Release/*

obj/
output/
/Debug/
/Release/
